<form class="form-inline">
 
  <div>
    <label for="boatName" >Boat Name:</label>
    <input  type="text"  id="boatName" name="boatName" value="hard code value">
  </div>  
   <div>    
     <label for="boatLengthInFeet" >Boat Length:</label>
    <input  type="text"  id="boatLengthInFeet" name="boatLengthInFeet" value="hard code value"> <br /><br />
   </div>
   <div>    
      <label for="boatYear" >boatYear:</label>
     <input  type="text"  id="boatYear" name="boatYear" value="hard code value"> <br /><br />
   </div>
   <div>    
      <label for="BoatCapacityInPeople" >BoatCapacityInPeople:</label>
      <input  type="text"  id="BoatCapacityInPeople" name="BoatCapacityInPeople" value="hard code value"> <br /><br />
   </div>
   <div>    
      <label for="boatPictureUrl" >boatPictureUrl:</label>
      <input  type="text"  id="boatPictureUrl" name="boatPictureUrl" value="hard code value"> <br /><br />
   </div>       
   <div>    
      <label for="rentedBy" >rentedBy:</label>
      <input  type="text"  id="rentedBy" name="rentedBy" value="hard code value"> <br /><br />
   </div>  
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
     
</form>
 

