<form class="form-inline">
 
  <div>
    <label for="boatName" >Boat Name:</label>
    <input  type="text"  id="boatName" name="BoatName" value="{{BoatName}}" name="BoatName" [(ngModel)]="BoatName">
  </div>  
   <div>    
     <label for="boatLengthInFeet" >Boat Length:</label>
    <input  type="text"  id="boatLengthInFeet" name="BoatLengthInFeet" value="{{BoatLengthInFeet}}" [(ngModel)]="BoatLengthInFeet"> <br /><br />
   </div>
   <div>    
      <label for="BoatYear" >Boat Length:</label>
     <input  type="text"  id="BoatYear" name="BoatYear" value="{{BoatYear}}" [(ngModel)]="BoatYear"> <br /><br />
    </div>
 
   <div>    
      <label for="BoatCapacityInPeople" >BoatCapacityInPeople:</label>
      <input  type="text"  id="BoatCapacityInPeople" name="BoatCapacityInPeople" value="{{BoatCapacityInPeople}}" [(ngModel)]="BoatCapacityInPeople"> <br /><br />
   </div>
   <div>    
      <label for="BoatPictureUrl" >boatPictureUrl:</label>
      <input  type="text"  id="BoatPictureUrl" name="BoatPictureUrl" value="{{BoatPictureUrl}}" [(ngModel)]="BoatPictureUrl"> <br /><br />
   </div>       
   <div>    
      <label for="RentedBy" >rentedBy:</label>
      <input  type="text"  id="rentedBy" name="RentedBy" value="{{RentedBy}}" [(ngModel)]="RentedBy">
      
        <br /><br />
   </div>  
  <div>
    <button type="submit" class="btn btn-primary" (click)="updateBoat(BoatName, BoatLengthInFeet, BoatYear, BoatCapacityInPeople, BoatPictureUrl, RentedBy)">Submit</button>
  </div>
     
</form>
 

