<!-- Login -->
Email: <input type='text' [(ngModel)]="email"><br />
Password:  <input type='text' [(ngModel)]="password"><br />
<input type="submit" (click)="login(email,password)"><br />
<!-- Shows token after login is successful. -->
{{token}}
<br /><br />

<!-- Retreives public data. -->
Get Public Data.
<input type="submit" (click)="getPublicData()"><br />
<div *ngFor="let item of publicData">
    {{item.email}}
</div>
<br /><br />

<!-- Requests private data. Token is required. -->
Get Private Data.
<input type="submit" (click)="getPrivateData()"><br />
<div *ngFor="let item of privateData">
    <ul>
        <li> {{item.BoatName}} here </li>
    </ul>
    
</div>
<br /><br />

<app-boat></app-boat>

<!-- Logout. -->
<input type="submit" (click)="log_out()" value="log out"><br />
{{message}}
