<h1>Regional distribution of all members:</h1>
<div #map style="width:100%;height:400px"></div>
<h1>Users List:</h1>
<div class="usersBlock">
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>            
            <th scope="col">Address</th>
            <th scope="col">Password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of privateData">
                <td>{{item.firstname}} {{item.lastname}}</td>
                <td>{{item.email}}</td>
                <td>{{item.street}}, {{item.city}}, {{item.province}} {{item.postalCode}}, {{item.country}}</td>
                <td>{{item.Password}}</td>
            </tr>
        </tbody>
    </table>
</div>