<div class="user"> 
    <!-- <div *ngFor="let item of privateData"> -->
    <ul>
        <li *ngFor="let item of privateData">
                
                        <div>{{item.FirstName}}</div> 
                        <div>{{item.LastName}}</div> 
                        <div>email: {{item.email}}</div>                      
                        <div>password: {{item.password}}</div>
                        <div>street: {{item.street}}</div>
                        <div>city: {{item.city}}</div>
                        <div>province: {{item.province}}</div>
                        <div>postal code: {{item.postalCode}}</div>
                        <div>country:{{item.country}}</div>
            
        </li>
    
    </ul>
    
    <!-- </div> -->
</div>